body {
    color: #333;
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }

  .text-center {
    text-align: center;
  }
  nav {
    background: white;
    box-shadow: none;
    height: 0;
  }
  nav i {
    padding: 0 15px;
    position: relative;
    top: 5px;
  }
  nav ul a{
    font-size: 1.3rem;
  }
  nav ul.logo span{
    font-size: 1.5rem;
  }
  ul.side-nav {
    width: 200px;
  }
  ul.side-nav li {
    padding: 0;
  }
  ul.side-nav.fixed a {
    box-sizing: content-box;
    color: #ffffff;
    display: block;
    line-height: 100%;
    padding: 10px 0 12px;
  }
  ul.table-of-contents li.logo a.active, ul.table-of-contents li.logo a:hover {
    border:none;
    font-weight: 300;
  }
  ul.side-nav.fixed li.logo {
    background-color: #0B666A;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    min-height: 120px;
    padding: 30px 30px 40px;
  }
  ul.side-nav.fixed li.logo a {
    font-weight: 200;
    font-size: 3rem;
    line-height: 100%;
  }
  ul.table-of-contents li:not(.logo) a.active, ul.table-of-contents li:not(.logo) a:hover {
    background-color: #fafafa;
    border-left: 3px solid;
  }
  ul.side-nav.fixed.table-of-contents li:not(.logo) a span, ul#slide-out li:not(.logo) a span {
    color: #333 !important;
  }
  li.bold span{
    min-height: 30px;
  }
  li.logo span {
    display: block;
    font-size: 14px;
    color: #0B666A;
  }
  .brand-logo h1 {
    font-size: inherit;
    line-height: inherit;
    margin: inherit;
    font-weight: inherit;
    color: #fafafa;
  }
  .section {
    padding-top: 0;
    padding-left: 0;
    position: relative;
  }